<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h3 class="title"><%= link_to post.title, post_path(post) %></h3>
    <p class="date"><%= post.created_at.strftime('%B, %D, %Y')%></p>
  </div>
<% end %>
