<div class="container-fluid">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    Submmited <%= time_ago_in_words(@post.created_at) %> Ago
    | <%= link_to("edit", edit_post_path(@post))%>
  </p>

  <p class="body">
    <%= @post.body %>
  </p>
</div>
